/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

.blog::before, .blog__nav::before, .footer__top::before, .gallery__nav::before, .header::before, .instruments__list::before, .media__container::before, .reviews__external::before, .sign-up__form::before, .splash__content::before, .steps::before, .teacher::before, .teacher__top::before, .teacher__bio::before, .teacher__info::before, .why__container::before, .blog::after, .blog__nav::after, .footer__top::after, .gallery__nav::after, .header::after, .instruments__list::after, .media__container::after, .reviews__external::after, .sign-up__form::after, .splash__content::after, .steps::after, .teacher::after, .teacher__top::after, .teacher__bio::after, .teacher__info::after, .why__container::after {
  content: '';
  display: table; }

.blog::after, .blog__nav::after, .footer__top::after, .gallery__nav::after, .header::after, .instruments__list::after, .media__container::after, .reviews__external::after, .sign-up__form::after, .splash__content::after, .steps::after, .teacher::after, .teacher__top::after, .teacher__bio::after, .teacher__info::after, .why__container::after {
  clear: both; }

.accordion__content, .header__logo__text, .header__nav-toggle__text, .header__nav, .header__call {
  position: absolute;
  left: -999rem; }

.header__nav--active, .header__nav--active + .header__call {
  position: static;
  left: auto; }

.svgstore {
  display: block;
  position: relative;
  width: 100%;
  height: 0; }
  .svgstore svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.svgstore--angle-down {
  padding-bottom: 100%; }

.svgstore--arrow-down {
  padding-bottom: 142.22222%; }

.svgstore--arrow-left {
  padding-bottom: 75.24752%; }

.svgstore--arrow-right {
  padding-bottom: 14.63415%; }

.svgstore--bars {
  padding-bottom: 100%; }

.svgstore--bullhorn {
  padding-bottom: 100%; }

.svgstore--calendar {
  padding-bottom: 100%; }

.svgstore--caret-right {
  padding-bottom: 100%; }

.svgstore--envelope {
  padding-bottom: 100%; }

.svgstore--facebook {
  padding-bottom: 100%; }

.svgstore--flag {
  padding-bottom: 100%; }

.svgstore--gift {
  padding-bottom: 100%; }

.svgstore--google-logo {
  padding-bottom: 32.8%; }

.svgstore--google {
  padding-bottom: 100%; }

.svgstore--home {
  padding-bottom: 100%; }

.svgstore--logo {
  padding-bottom: 53.80117%; }

.svgstore--map-marker {
  padding-bottom: 100%; }

.svgstore--minus {
  padding-bottom: 100%; }

.svgstore--music {
  padding-bottom: 100%; }

.svgstore--phone {
  padding-bottom: 100%; }

.svgstore--play-circle {
  padding-bottom: 100%; }

.svgstore--plus {
  padding-bottom: 100%; }

.svgstore--quote-right {
  padding-bottom: 100%; }

.svgstore--send {
  padding-bottom: 100%; }

.svgstore--share {
  padding-bottom: 100%; }

.svgstore--skype {
  padding-bottom: 100%; }

.svgstore--stars {
  padding-bottom: 100%; }

.svgstore--twitter {
  padding-bottom: 100%; }

.svgstore--user {
  padding-bottom: 100%; }

.svgstore--yelp-logo {
  padding-bottom: 48.91304%; }

.svgstore--yelp {
  padding-bottom: 100%; }

.svgstore--youtube {
  padding-bottom: 100%; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  line-height: 1.5;
  word-wrap: break-word;
  font-family: "Maven Pro", sans-serif; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after,
input[type=search] {
  box-sizing: inherit; }

textarea,
input {
  border-radius: 0; }

textarea,
input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

a,
button,
input {
  transition: color ease 250ms, background-color ease 250ms, opacity ease 250ms; }

h1 {
  margin: 0; }

.wrap {
  max-width: 80rem;
  margin: auto; }

.wrap--narrow {
  max-width: 48rem; }

.wrap--slim {
  max-width: 64rem; }

@media (min-width: 64em) {
  .main {
    float: left;
    width: calc(100% - 18rem); } }

@media (min-width: 64em) {
  .main--full {
    float: none;
    width: auto; } }

@media (min-width: 64em) {
  .sidebar {
    float: right;
    width: 16rem;
    padding-left: 2rem; } }

.sidebar > ul {
  list-style: none; }
  .sidebar > ul > li {
    margin-bottom: 2rem; }
    .sidebar > ul > li ul {
      padding-left: 1.5rem; }

.container--white {
  background: #fff; }

.container--gray-light {
  background: #f9f9f9; }

.container--red-light {
  background: #e74c3c;
  color: #fff; }

.container--blue {
  background: #2c3e50;
  color: #fff; }

.blog__content h1 {
  font-size: 300%;
  line-height: 1.125; }

.blog__content h2, .section__heading, .blog__title, .teacher__heading {
  color: #2c3e50;
  font-size: 250%;
  font-weight: bold;
  line-height: 1.125; }

.blog__content h3 {
  font-size: 200%;
  line-height: 1.25; }

.blog__content h4 {
  font-size: 150%; }

.sidebar .widgettitle, .blog__content h5, .section__subheading, .media__heading, .reviews__heading, .steps__heading {
  color: #d7181f;
  font-size: 125%;
  text-transform: uppercase;
  font-weight: bold; }

.blog__content h6, .teacher__testimonials__source, .teacher__info__heading, .teacher__sidebar__heading {
  color: #f38c61;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold; }

.accordion__content p, .banner p, .blog__content p, .teacher__bio p {
  margin-bottom: 1rem; }

.accordion__content a, .blog__content a {
  font-weight: bold;
  color: #3498db; }
  .accordion__content a:hover, .blog__content a:hover {
    color: #e74c3c; }

.blog__content ul,
.blog__content ol {
  margin-bottom: 1rem;
  padding-left: 2rem; }
  .blog__content ul li,
  .blog__content ol li {
    margin-bottom: 0.5rem; }

.blog__content blockquote {
  border-left: 0.5rem solid #3498db;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-style: italic; }

body #wpadminbar {
  position: fixed; }

.wp-caption {
  max-width: 100%; }

.alignleft,
.alignright {
  margin-bottom: 1rem; }
  @media (min-width: 48em) {
    .alignleft,
    .alignright {
      max-width: 50%; } }

@media (min-width: 48em) {
  .alignleft {
    float: left;
    margin-right: 2rem; } }

@media (min-width: 48em) {
  .alignright {
    float: right;
    margin-left: 2rem; } }

.aligncenter {
  margin-right: auto;
  margin-left: auto; }

.arve-wrapper {
  max-width: 32rem;
  margin: auto; }

.wpseo-location,
.wpseo-map-canvas {
  width: 400px;
  max-width: 100%;
  margin: auto;
  text-align: center; }

#teachworks-login {
  margin: auto; }

.accordion {
  border-bottom: 0.0625rem solid #e6e6e6; }

.accordion__toggle {
  display: block;
  padding: 1rem;
  border-top: 0.0625rem solid #e6e6e6;
  color: #d7181f;
  font-weight: bold;
  text-transform: uppercase; }
  .accordion__toggle:hover {
    color: #e74c3c; }

.accordion__toggle__icon {
  float: right;
  width: 1rem;
  fill: #838383;
  margin: 0.25rem 0 0 1rem; }

.accordion__item--active .accordion__toggle__open {
  display: none; }

.accordion__toggle__close {
  display: none; }
  .accordion__item--active .accordion__toggle__close {
    display: block; }

.accordion__content {
  padding: 1rem;
  color: #838383; }
  .accordion__item--active .accordion__content {
    position: static; }

.announcement {
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }

.announcement__button {
  position: relative;
  display: inline-block;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 5rem;
  text-align: center;
  overflow: hidden;
  background: #f9f9f9; }
  .announcement__button:hover {
    background: #fff; }
  .announcement__button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: #e0e0e0;
    content: ''; }

.announcement__image {
  display: block;
  width: 1.5rem;
  fill: #2c3e50;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%); }

.announcement__text {
  color: #d7181f; }

.banner {
  background: #2c3e50;
  color: #fff;
  text-align: center; }
  .banner a:not([class]) {
    text-decoration: underline; }
  .banner a:hover {
    color: #e74c3c; }

.banner--white {
  background: #fff;
  color: #2c3e50; }

.banner--gray-light {
  background: #f9f9f9;
  color: #2c3e50; }

.banner--red-light, .banner--stars {
  background: #e74c3c; }
  .banner--red-light a:hover, .banner--stars a:hover {
    color: #354b62; }

.banner--stars .wrap {
  position: relative; }
  .banner--stars .wrap::before, .banner--stars .wrap::after {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22%23d7181f%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%20150%20149.99999%22%3E%3Cpath%20d%3D%22M65.59%20110.32l7.17%2021.52-17.59-12.91-4.03-2.96-4.04%202.96-17.59%2012.91%207.17-21.52%201.55-4.62-3.88-2.96-14.16-10.79h21.73l1.66-4.44%207.56-20.27%207.55%2020.27%201.66%204.44h21.73l-14.16%2010.79-3.87%202.96%201.54%204.62zm-.5-25.19l-13.95-37.4-13.95%2037.4H0l30.22%2023.03L16.27%20150l34.87-25.57L86%20150l-13.94-41.84%2030.21-23.03H65.09zm51.44-34.38l-4.03-2.95-4.03%202.95-8.29%206.08%203.45-10.35%201.53-4.6-3.84-2.96-6.31-4.86H107l1.66-4.43%203.84-10.24%203.85%2010.24%201.65%204.43h11.99l-6.31%204.86-3.84%202.96%201.53%204.6%203.45%2010.35-8.29-6.08zM150%2027.24h-27.27L112.5%200l-10.23%2027.24H75l22.16%2017.08L86.93%2075l25.57-18.75L138.07%2075l-10.23-30.68L150%2027.24z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    position: absolute;
    top: 50%;
    background-size: cover;
    width: 8rem;
    height: 8rem;
    margin-top: -4rem;
    content: '';
    opacity: 0.25; }
  .banner--stars .wrap::before {
    left: 0; }
  .banner--stars .wrap::after {
    right: 0;
    transform: scaleX(-1); }

.banner__container {
  position: relative;
  z-index: 1; }

.banner__button {
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

.banner__button__icon {
  float: right;
  width: 1.5rem;
  fill: currentColor; }

.blog__item {
  margin-bottom: 2rem;
  border-bottom: 0.0625rem solid #e6e6e6;
  padding-bottom: 2rem; }

.blog__date {
  color: #838383;
  font-weight: bold;
  font-size: 87.5%; }

.blog__title a:hover {
  color: #d7181f; }

.blog__nav {
  margin-bottom: 1rem; }
  @media (min-width: 64em) {
    .blog__nav {
      margin-bottom: 0; } }

.blog__prev,
.blog__next {
  margin-bottom: 1rem; }
  @media (min-width: 48em) {
    .blog__prev,
    .blog__next {
      max-width: calc(50% - 1rem); } }
  @media (min-width: 64em) {
    .blog__prev,
    .blog__next {
      margin-bottom: 0; } }
  .blog__prev a,
  .blog__next a {
    width: 100%; }

@media (min-width: 48em) {
  .blog__prev {
    float: left; } }

@media (min-width: 48em) {
  .blog__next {
    float: right; } }

.button, .blog__prev a,
.blog__next a, .cta__button, .filter__select__text, .instruments__more, .sign-up__button {
  display: inline-block;
  background: #3498db;
  color: #fff;
  padding: 1rem 2rem;
  min-width: 16rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-clip: padding-box;
  border: 0; }
  .button:hover, .blog__prev a:hover,
  .blog__next a:hover, .cta__button:hover, .filter__select__text:hover, .instruments__more:hover, .sign-up__button:hover {
    background: #e74c3c;
    background-clip: padding-box; }

.button--dashed {
  border: 0.1875rem dashed #e74c3c; }

.button--rounded, .cta__button, .sign-up__button {
  border-radius: 0.5rem; }

.button--orange, .sign-up__button {
  background: #f38c61; }

.carousel {
  border-bottom: 0.5rem solid #e6e6e6; }
  .carousel .flickity-prev-next-button {
    background: rgba(44, 62, 80, 0.5);
    border-radius: 0.5rem;
    border: 0.0625rem solid #fff;
    transition: opacity ease 500ms;
    opacity: 0.5; }
    .carousel .flickity-prev-next-button:hover {
      opacity: 1; }
    .carousel .flickity-prev-next-button:focus {
      box-shadow: none; }
    .carousel .flickity-prev-next-button .arrow {
      fill: #fff; }

.carousel__item {
  position: relative;
  display: block;
  width: 18.75rem; }

.carousel__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  opacity: 0;
  transition: opacity ease 500ms; }
  .carousel__item:hover .carousel__overlay {
    opacity: 1; }

.carousel__overlay__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 13.75rem;
  background: rgba(44, 62, 80, 0.75);
  text-align: center;
  padding: 6rem 1rem 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold; }

.carousel__overlay__bottom {
  position: absolute;
  left: 0;
  top: 13.75rem;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background: rgba(231, 76, 60, 0.75); }

.carousel__overlay__text {
  display: block;
  width: 100%;
  height: 3rem;
  overflow: hidden; }

.cta {
  padding: 0 1rem;
  margin: 3rem 0;
  text-align: center; }

.cta__container {
  position: relative; }
  .cta__container::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 0.0625rem);
    height: 0.125rem;
    background: #e6e6e6;
    z-index: -1;
    content: ''; }

.filter {
  border-top: 0.125rem solid #e6e6e6;
  padding: 2rem 1rem;
  text-align: center; }

.filter__select {
  position: relative;
  display: inline-block;
  margin: 1rem; }
  .filter__select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0;
    z-index: 1; }

.filter__select__arrow {
  position: absolute;
  right: 2rem;
  top: 50%;
  width: 2rem;
  transform: translateY(-50%);
  fill: #838383; }

.filter__select__text {
  background: #e6e6e6;
  color: #d7181f;
  padding-right: 4.5rem; }

.filter__submit {
  margin: 1rem; }

.footer {
  color: #fff;
  border-top: 0.5rem solid #354b62; }

.footer__top {
  padding: 2rem 1rem;
  background: #2c3e50; }

.footer__top__wrap {
  margin: 0 -1rem; }

.footer__lessons {
  display: none; }
  @media (min-width: 64em) {
    .footer__lessons {
      display: block;
      width: 50%;
      float: left;
      padding: 0 1rem; } }

.footer__section {
  padding: 0 1rem; }
  @media (min-width: 48em) {
    .footer__section {
      width: 50%;
      float: left; } }
  @media (min-width: 64em) {
    .footer__section {
      width: 25%; } }

.footer__heading {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 0.0625rem solid #354b62;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; }

.footer__nav {
  list-style: none;
  margin-bottom: 2rem; }

.footer__nav__item, .footer__nav li {
  margin-top: 0.5rem; }

@media (min-width: 64em) {
  .footer__nav__item--half {
    width: 50%;
    float: left; } }

@media (min-width: 64em) {
  .footer__nav__item--half:nth-child(2n+1) {
    clear: both; } }

.footer__nav__link, .footer__nav a {
  color: #7191b0; }
  .footer__nav__link:hover, .footer__nav a:hover {
    color: #fff; }

.footer__contact {
  position: relative;
  margin-bottom: 2rem; }

.footer__contact__title {
  padding-left: 1.5rem; }

.footer__contact__item {
  position: relative;
  display: block;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  color: #7191b0; }
  .footer__contact__item:hover {
    color: #fff; }

.footer__contact__icon {
  position: absolute;
  left: 0;
  width: 1.125rem;
  fill: currentColor;
  margin-top: 0.1875rem; }

.footer__social {
  list-style: none;
  padding-top: 0.25rem; }

.footer__social__item {
  display: inline-block;
  width: 2rem;
  margin-right: 0.25rem; }

.footer__social__link {
  display: block;
  background: #354b62;
  fill: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem; }
  .footer__social__link:hover {
    background: #7191b0; }

.footer__bottom {
  padding: 2rem 1rem 4.5rem 1rem;
  background: #253545;
  color: #7191b0; }
  @media (min-width: 48em) {
    .footer__bottom {
      padding-bottom: 2rem; } }

.footer__bottom__wrap {
  position: relative; }

.footer__button {
  position: absolute;
  right: 1rem;
  bottom: -4.5rem;
  display: inline-block;
  background: #354b62;
  padding: 0.5rem 3.5rem 0.5rem 0.5rem;
  color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  width: 14rem;
  text-align: center;
  z-index: 2; }
  @media (min-width: 48em) {
    .footer__button {
      position: fixed;
      bottom: 0; } }
  .footer__button:hover {
    background: #7191b0; }
  .footer__button::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    background: #e74c3c;
    content: ''; }

@media (min-width: 48em) {
  .footer__button--call {
    display: none; } }

.footer__button--email {
  display: none; }
  @media (min-width: 48em) {
    .footer__button--email {
      display: block; } }

.footer__button__image {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 1.5rem;
  fill: #fff;
  transform: translate(50%, -50%); }

.gallery {
  margin-bottom: 2rem; }

.gallery__full {
  position: relative;
  padding-bottom: 75%; }
  .gallery__full > * {
    position: absolute;
    width: 100%;
    height: 100%; }

.gallery__nav {
  list-style: none;
  margin: 0 -0.5rem; }

.gallery__nav__item {
  float: left;
  width: 33.333%;
  padding: 1rem 0.5rem 0 0.5rem; }
  @media (min-width: 32em) {
    .gallery__nav__item {
      width: 25%; } }
  @media (min-width: 48em) {
    .gallery__nav__item {
      width: 33.333%; } }
  @media (min-width: 64em) {
    .gallery__nav__item {
      width: 25%; } }
  @media (min-width: 80em) {
    .gallery__nav__item {
      width: 20%; } }

.gallery__nav__link {
  position: relative;
  display: block;
  opacity: 0.5; }
  .gallery__nav__link:hover {
    opacity: 1; }

.gallery__nav__link--active {
  opacity: 1; }

.gallery__nav__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem; }

.header {
  background: #f9f9f9;
  padding: 1rem;
  border-bottom: 0.0625rem solid #e6e6e6; }

.header__logo {
  float: left;
  fill: #d7181f; }

.header__logo__image {
  display: block;
  width: 8rem; }
  @media (min-width: 64em) {
    .header__logo__image {
      width: 10rem; } }

.header__nav-toggle {
  float: right;
  border: 0.0625rem solid #e6e6e6;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 1.375rem; }
  .header__nav-toggle:hover {
    background: #fff; }
  @media (min-width: 64em) {
    .header__nav-toggle {
      display: none; } }

.header__nav-toggle__image {
  display: block;
  width: 1.5rem; }

.header__nav {
  clear: both;
  list-style: none;
  padding-top: 1rem; }
  @media (min-width: 48em) {
    .header__nav {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 1rem 6% 0 6%;
      height: 3.5rem; } }
  @media (min-width: 64em) {
    .header__nav {
      position: static;
      left: auto;
      clear: none;
      float: left;
      padding: 0 6%;
      width: calc(100% - 22rem);
      height: 5.375rem; } }
  .header__nav .sub-menu {
    display: none;
    background: #e6e6e6;
    list-style: none; }
    @media (min-width: 48em) {
      .header__nav .sub-menu {
        display: block;
        position: absolute;
        left: -999rem;
        width: 15rem;
        margin-left: -1rem;
        padding: 1rem;
        z-index: 2; } }
    .header__nav .sub-menu li {
      display: block; }
    .header__nav .sub-menu a {
      display: block; }
      @media (min-width: 48em) {
        .header__nav .sub-menu a {
          text-align: left; } }
      @media (min-width: 64em) {
        .header__nav .sub-menu a {
          height: auto;
          padding: 0.5rem; } }

.sub-menu-active > a {
  color: #e74c3c !important; }

.sub-menu-active .sub-menu {
  display: block; }
  @media (min-width: 48em) {
    .sub-menu-active .sub-menu {
      left: auto; } }

@media (min-width: 48em) {
  .header__nav__item, .header__nav li {
    display: inline-block; } }

.header__nav__link, .header__nav a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #838383;
  padding: 0.5rem;
  position: relative; }
  @media (min-width: 64em) {
    .header__nav__link, .header__nav a {
      height: 6.4375rem;
      padding: 2.5rem 0.5rem 0.5rem 0.5rem; } }
  .header__nav__link:hover, .header__nav a:hover {
    color: #000; }

.header__nav__link--active::before, .header__nav .current_page_item > a::before,
.header__nav .current_page_parent > a::before,
.header__nav .current_page_ancestor > a::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 4rem;
  height: 0.25rem;
  background: #e74c3c;
  transform: translateX(-50%);
  content: ''; }

.header__call {
  display: block;
  width: 12rem;
  margin: 1rem auto 0 auto;
  border: 0.0625rem solid #f38c61;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 3.5rem;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 64em) {
    .header__call {
      position: static;
      left: auto;
      position: relative;
      margin: 1.875rem 0 0 0;
      float: right; } }
  .header__call:hover {
    background: #fff; }
  .header__call::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    background: #f38c61;
    content: ''; }
  .header__nav--active + .header__call {
    position: relative; }

.header__call__image {
  display: block;
  width: 1.5rem;
  fill: #fff;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%); }

.instruments {
  text-align: center;
  background: #e6e6e6; }

.instruments__down {
  width: 3rem;
  fill: #838383;
  opacity: 0.15;
  margin: -1rem auto 1rem auto; }

.instruments__list {
  list-style: none;
  border-left: 0.125rem solid #fff;
  border-top: 0.125rem solid #fff; }

.instruments__item {
  border-right: 0.125rem solid #fff;
  border-bottom: 0.125rem solid #fff; }
  @media (min-width: 32em) {
    .instruments__item {
      float: left;
      width: 50%; } }
  @media (min-width: 48em) {
    .instruments__item {
      width: 33.333%; } }
  @media (min-width: 64em) {
    .instruments__item {
      width: 25%; } }
  @media (min-width: 80em) {
    .instruments__item {
      width: 20%; } }
  .instruments__item:nth-child(n+9) {
    display: none; }
    @media (min-width: 48em) {
      .instruments__item:nth-child(n+9) {
        display: block; } }
    .instruments--active .instruments__item:nth-child(n+9) {
      display: block; }

.instruments__link {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c3e50;
  opacity: 0.25;
  padding: 1.5rem 1rem; }
  .instruments__link:hover {
    background: #e0e0e0;
    opacity: 1; }

.instruments__more {
  margin-top: 2rem; }
  @media (min-width: 48em) {
    .instruments__more {
      display: none; } }
  .instruments--active .instruments__more {
    display: none; }

.media {
  border-top: 0.0625rem solid #e6e6e6; }

.media__container {
  margin: 0 -2rem; }

.media__item {
  padding: 0 2rem; }
  @media (min-width: 48em) {
    .media__item {
      float: left;
      width: 50%; } }
  .media__item:nth-child(odd) {
    clear: both; }

.media__heading {
  margin-bottom: 1rem;
  text-transform: none; }

.phone {
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center; }

.phone__button {
  position: relative;
  display: inline-block;
  border: 0.0625rem solid #f38c61;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 5rem;
  text-align: center;
  overflow: hidden;
  background: #f9f9f9; }
  .phone__button:hover {
    background: #fff; }
  .phone__button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: #f38c61;
    content: ''; }

.phone__image {
  display: block;
  width: 1.5rem;
  fill: #fff;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%); }

.phone__text {
  color: #d7181f; }

.reviews {
  text-align: center;
  color: #838383; }
  .reviews .flickity-prev-next-button {
    top: 2.75rem;
    opacity: 0.25;
    background: none; }
    .reviews .flickity-prev-next-button:focus {
      box-shadow: none; }
    .reviews .flickity-prev-next-button:hover {
      opacity: 1; }
    .reviews .flickity-prev-next-button.previous {
      left: 50%;
      transform: translateX(-9rem); }
    .reviews .flickity-prev-next-button.next {
      right: 50%;
      transform: translateX(9rem); }
    .reviews .flickity-prev-next-button .arrow {
      fill: #838383; }

.reviews__list {
  list-style: none;
  margin-bottom: 2rem; }

.reviews__item {
  width: 100%;
  padding: 0 1rem; }

.reviews__photo {
  margin: 0 auto 1.5rem auto;
  border-radius: 50%;
  border: 0.25rem solid #e6e6e6; }

.reviews__heading {
  margin-bottom: 1.5rem; }

.reviews__text p::before {
  content: '\201c'; }

.reviews__text p::after {
  content: '\201d'; }

.reviews__external {
  position: relative;
  border-top: 0.125rem solid #e6e6e6;
  padding: 1rem 0 0 0; }

.reviews__score {
  margin-top: 1rem;
  font-size: 0; }
  @media (min-width: 48em) {
    .reviews__score {
      float: left;
      width: 50%;
      padding: 0 1rem; } }

.reviews__score__item {
  display: block;
  max-width: 14rem;
  margin: auto; }

@media (min-width: 48em) {
  .reviews__score__item--google {
    margin-top: 2.25rem; } }

.reviews__score__detail {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem; }

.section, .banner, .blog, .instruments, .media, .reviews, .sign-up, .steps, .teacher, .why {
  padding: 3rem 1rem; }

.section__heading, .blog__title, .teacher__heading {
  margin-bottom: 2rem; }
  .banner .section__heading, .banner .blog__title, .banner .teacher__heading {
    color: inherit; }

.banner .section__subheading, .banner .media__heading, .banner .reviews__heading {
  color: inherit; }

.sign-up {
  background: #f9f9f9;
  text-align: center; }

.sign-up__heading {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem; }
  @media (min-width: 48em) {
    .sign-up__heading {
      margin-bottom: 4rem; } }

.sign-up__arrow {
  display: none;
  fill: #e74c3c;
  position: absolute;
  right: calc(100% + 1rem);
  top: 1.625rem;
  width: 3rem; }
  @media (min-width: 48em) {
    .sign-up__arrow {
      display: block; } }

.sign-up__input,
.sign-up__textarea {
  border: 0.125rem solid #f38c61;
  background: transparent;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem; }

@media (min-width: 48em) {
  .sign-up__left,
  .sign-up__right {
    width: calc(50% - 0.25rem); } }

@media (min-width: 48em) {
  .sign-up__left {
    float: left; } }

@media (min-width: 48em) {
  .sign-up__right {
    float: right; } }

.sign-up__right + * {
  clear: both; }

.sign-up__button {
  margin-top: 1.5rem; }

.splash {
  padding: 0 1rem;
  background-size: cover;
  background-position: 33% center;
  margin-bottom: 2rem; }
  @media (min-width: 48em) {
    .splash {
      margin: 0; } }

.splash--dark-overlay {
  position: relative; }
  .splash--dark-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: ''; }

.splash__content {
  position: relative;
  padding: 1rem 30% 3rem 0; }
  @media (min-width: 32em) {
    .splash__content {
      padding: 2rem 40% 4rem 0; } }
  @media (min-width: 48em) {
    .splash__content {
      padding: 2rem 45% 2rem 0; } }
  @media (min-width: 64em) {
    .splash__content {
      padding: 3rem 45% 3rem 0; } }
  @media (min-width: 80em) {
    .splash__content {
      padding: 4rem 50% 4rem 0; } }
  .splash--large .splash__content {
    padding: 5rem 30% 7rem 0; }
    @media (min-width: 32em) {
      .splash--large .splash__content {
        padding: 8rem 40% 10rem 0; } }
    @media (min-width: 48em) {
      .splash--large .splash__content {
        padding: 8rem 45% 8rem 0; } }
    @media (min-width: 64em) {
      .splash--large .splash__content {
        padding: 12rem 45% 12rem 0; } }
    @media (min-width: 80em) {
      .splash--large .splash__content {
        padding: 16rem 50% 16rem 0; } }
  .splash--dark-overlay .splash__content {
    padding-right: 0;
    text-align: center; }

.splash__heading {
  text-transform: uppercase;
  font-size: 150%;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-weight: normal; }
  @media (min-width: 64em) {
    .splash__heading {
      font-size: 300%; } }
  .splash__heading em {
    font-style: normal;
    color: #d7181f; }
  .splash--dark-overlay .splash__heading {
    color: #fff; }

.splash__subheading {
  color: #d7181f;
  font-size: 90%;
  font-weight: normal; }
  @media (min-width: 64em) {
    .splash__subheading {
      font-size: 125%; } }
  .splash--dark-overlay .splash__subheading {
    color: #fff; }

.splash__button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%); }
  @media (min-width: 48em) {
    .splash__button {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      margin-top: 1.5rem;
      display: inline-block; } }
  .splash--dark-overlay .splash__button .button, .splash--dark-overlay .splash__button .blog__prev a, .blog__prev .splash--dark-overlay .splash__button a,
  .splash--dark-overlay .splash__button .blog__next a, .blog__next .splash--dark-overlay .splash__button a, .splash--dark-overlay .splash__button .cta__button, .splash--dark-overlay .splash__button .filter__select__text, .splash--dark-overlay .splash__button .instruments__more, .splash--dark-overlay .splash__button .sign-up__button {
    border: 0; }

.splash__arrow {
  display: none;
  position: absolute;
  top: -1rem;
  left: calc(100% + 1rem);
  width: 4.5rem; }
  @media (min-width: 48em) {
    .splash__arrow {
      display: block; } }
  .splash--dark-overlay .splash__arrow {
    display: none; }

.steps {
  text-align: center; }

.steps__item {
  position: relative;
  margin-top: 2rem;
  padding: 0 1rem; }
  @media (min-width: 48em) {
    .steps__item {
      float: left;
      width: 33.333%; } }
  @media (min-width: 64em) {
    .steps__item {
      padding: 0 2rem; } }

.steps__arrow {
  display: none;
  position: absolute;
  top: 1rem;
  left: 75%;
  width: 50%;
  fill: #e6e6e6; }
  @media (min-width: 48em) {
    .steps__arrow {
      display: block; } }
  .steps__item:nth-child(3n) .steps__arrow {
    display: none; }

.steps__icon {
  width: 5rem;
  height: 5rem;
  border: 0.125rem solid #e6e6e6;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  padding: 1.25rem; }

.steps__heading {
  margin-bottom: 0.5rem; }

.steps__description {
  color: #838383; }
  .steps__description a:hover {
    color: #000; }

.teacher {
  border-top: 0.125rem solid #e6e6e6; }

.teacher__top {
  margin-bottom: 2rem; }

.teacher__image {
  padding: 0.5rem;
  background: #e6e6e6;
  margin: 0 auto 1rem auto;
  box-sizing: content-box; }
  @media (min-width: 48em) {
    .teacher__image {
      float: left;
      margin: 0 2rem 0 0; } }

.teacher__heading {
  text-align: center; }
  @media (min-width: 48em) {
    .teacher__heading {
      text-align: left; } }

.teacher__testimonials {
  padding-bottom: 2rem;
  overflow: hidden; }
  .teacher__testimonials .flickity-page-dots {
    bottom: 0; }
  .teacher__testimonials .dot {
    background: #e6e6e6;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    opacity: 1;
    transition: background ease 500ms; }
    .teacher__testimonials .dot:hover {
      background: #838383; }
    .teacher__testimonials .dot.is-selected {
      background: #f38c61; }

.teacher__testimonials__item {
  width: 100%;
  margin: 0 1rem; }

.teacher__testimonials__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3rem;
  fill: #e6e6e6; }

.teacher__testimonials__text {
  color: #838383;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 125%; }
  .teacher__testimonials__text::before {
    content: '\201c'; }
  .teacher__testimonials__text::after {
    content: '\201d'; }

.teacher__testimonials__source::before {
  content: '-'; }

.teacher__bio {
  border-top: 0.0625rem solid #e6e6e6;
  padding: 2rem 0 0 0;
  margin-bottom: 2rem; }

.teacher__bio__more {
  float: right;
  font-weight: bold;
  text-decoration: underline;
  color: #2c3e50; }
  .teacher__bio__more:hover {
    color: #d7181f; }

.teacher__info {
  border-top: 0.0625rem solid #e6e6e6;
  text-align: center; }

.teacher__info__item {
  margin: 2rem 0;
  padding: 0 1rem; }
  @media (min-width: 32em) {
    .teacher__info__item {
      float: left;
      width: 50%; } }
  @media (min-width: 48em) {
    .teacher__info__item {
      width: 25%; } }

.teacher__info__icon {
  width: 1.25rem;
  margin: 0 auto 1rem auto; }

.teacher__info__heading {
  margin-bottom: 1rem; }

.teacher__info__text {
  color: #838383; }

.teacher__sidebar {
  background: #f9f9f9;
  border: 0.125rem solid #e6e6e6;
  padding: 2rem; }
  .teacher__sidebar + .teacher__sidebar {
    margin-top: 3rem; }

.teacher__sidebar__item {
  margin-bottom: 2rem; }

.teacher__sidebar__heading {
  border-bottom: 0.0625rem solid #e6e6e6;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem; }

.teacher__sidebar__text {
  color: #838383; }

.teacher__excerpt {
  overflow: hidden; }

.teacher__more {
  margin-top: 2rem;
  text-align: center; }
  @media (min-width: 64em) {
    .teacher__more {
      margin-top: 0;
      text-align: right; } }

.why__container {
  margin: 0 -1rem; }

.why__image,
.why__content {
  padding: 0 1rem; }
  @media (min-width: 64em) {
    .why__image,
    .why__content {
      float: left;
      width: 50%; } }

.why__image {
  display: none; }
  @media (min-width: 64em) {
    .why__image {
      display: block; } }

.why__heading {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
