html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  word-wrap: break-word;
  font-family: $sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after,
input[type=search] {
  box-sizing: inherit;
}

textarea,
input {
  border-radius: 0;
}

textarea,
input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
input {
  transition: color $transition-fast, background-color $transition-fast, opacity $transition-fast;
}

h1 {
  margin: 0;
}
