.wrap {
  max-width: 80rem;
  margin: auto;
}

.wrap--narrow {
  max-width: 48rem;
}

.wrap--slim {
  max-width: 64rem;
}

.main {
  @include min($large) {
    float: left;
    width: calc(100% - 18rem);
  }
}

.main--full {
  @include min($large) {
    float: none;
    width: auto;
  }
}

.sidebar {
  @include min($large) {
    float: right;
    width: 16rem;
    padding-left: 2rem;
  }

  > ul {
    list-style: none;

    > li {
      margin-bottom: 2rem;

      ul {
        padding-left: 1.5rem;
      }
    }
  }

  .widgettitle {
    @extend %h5;
  }
}

.container {

}

.container--white {
  background: $white;
}

.container--gray-light {
  background: $gray-light;
}

.container--red-light {
  background: $red-light;
  color: $white;
}

.container--blue {
  background: $blue;
  color: $white;
}
