%h1 {
  font-size: 300%;
  line-height: 1.125;
}

%h2 {
  color: $blue;
  font-size: 250%;
  font-weight: bold;
  line-height: 1.125;
}

%h3 {
  font-size: 200%;
  line-height: 1.25;
}

%h4 {
  font-size: 150%;
}

%h5 {
  color: $red;
  font-size: 125%;
  text-transform: uppercase;
  font-weight: bold;
}

%h6 {
  color:  $orange;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

%p {
  margin-bottom: 1rem;
}

%a {
  font-weight: bold;
  color: $blue-bright;
  &:hover {
    color: $red-light;
  }
}

%ul,
%ol {
  margin-bottom: 1rem;
  padding-left: 2rem;

  li {
    margin-bottom: 0.5rem;
  }
}

%blockquote {
  border-left: 0.5rem solid $blue-bright;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}
