// fonts
$sans-serif: 'Maven Pro', sans-serif;
$serif: 'Crimson Text', serif;

// media query breakpoints
$small: 32em;
$medium: 48em;
$large: 64em;
$full: 80em;

// colors
$red: #d7181f;
$red-light: #e74c3c;
$orange: #f38c61;
$blue: #2c3e50;
$blue-light: #7191b0;
$blue-medium: #354b62;
$blue-dark: #253545;
$blue-bright: #3498db;
$gray: #e6e6e6;
$gray-light: #f9f9f9;
$gray-medium: #e0e0e0;
$gray-dark: #838383;
$black: #000;
$white: #fff;

// transitions
$transition-easing: ease;
$transition-speed: 500ms;
$transition-speed-fast: 250ms;
$transition: $transition-easing $transition-speed;
$transition-fast: $transition-easing $transition-speed-fast;
