body #wpadminbar {
  position: fixed;
}

.wp-caption {
  max-width: 100%;
}

.alignleft,
.alignright {
  margin-bottom: 1rem;
  @include min($medium) {
    max-width: 50%;
  }
}

.alignleft {
  @include min($medium) {
    float: left;
    margin-right: 2rem;
  }
}

.alignright {
  @include min($medium) {
    float: right;
    margin-left: 2rem;
  }
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.arve-wrapper {
  max-width: 32rem;
  margin: auto;
}

.wpseo-location,
.wpseo-map-canvas {
  width: 400px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

#teachworks-login {
  margin: auto;
}
