.accordion {
  border-bottom: 0.0625rem solid $gray;
}

.accordion__item {

}

.accordion__toggle {
  display: block;
  padding: 1rem;
  border-top: 0.0625rem solid $gray;
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: $red-light;
  }
}

.accordion__toggle__icon {
  float: right;
  width: 1rem;
  fill: $gray-dark;
  margin: 0.25rem 0 0 1rem;
}

.accordion__toggle__open {
  .accordion__item--active & {
    display: none;
  }
}

.accordion__toggle__close {
  display: none;
  .accordion__item--active & {
    display: block;
  }
}

.accordion__content {
  @extend %hide;
  padding: 1rem;
  color: $gray-dark;
  .accordion__item--active & {
    position: static;
  }
  p {
    @extend %p;
  }
  a {
    @extend %a;
  }
}
