.announcement {
  padding: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.announcement__button {
  position: relative;
  display: inline-block;
  border: 0.0625rem solid $gray-medium;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 5rem;
  text-align: center;
  overflow: hidden;
  background: $gray-light;
  &:hover {
    background: $white;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: $gray-medium;
    content: '';
  }
}

.announcement__image {
  display: block;
  width: 1.5rem;
  fill: $blue;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.announcement__text {
  color: $red;
}
