.banner {
  @extend .section;
  background: $blue;
  color: $white;
  text-align: center;
  a {    
    &:not([class]) {
      text-decoration: underline;
    }
    &:hover {
      color: $red-light;
    }
  }
  p {
    @extend %p;
  }
}

.banner--white {
  background: $white;
  color: $blue;
}

.banner--gray-light {
  background: $gray-light;
  color: $blue;
}

.banner--red-light {
  background: $red-light;
  a {
    &:hover {
      color: $blue-medium;
    }
  }
}

.banner--stars {
  @extend .banner--red-light;
  .wrap {
    position: relative;
    &::before,
    &::after {
      @include fill($svgstore--stars, $red);
      position: absolute;
      top: 50%;
      background-size: cover;
      width: 8rem;
      height: 8rem;
      margin-top: -4rem;
      content: '';
      opacity: 0.25;
    }
    &::before {
      left: 0;      
    }
    &::after {
      right: 0;
      transform: scaleX(-1);
    }
  }
}

.banner__container {
  position: relative;
  z-index: 1;
}

.banner__button {
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.banner__button__icon {
  float: right;
  width: 1.5rem;
  fill: currentColor;
}
