.blog {
  @extend %clear;
  @extend .section;
}

.blog__item {
  margin-bottom: 2rem;
  border-bottom: 0.0625rem solid $gray;
  padding-bottom: 2rem;
}

.blog__date {
  color: $gray-dark;
  font-weight: bold;
  font-size: 87.5%;
}

.blog__title {
  @extend .section__heading;
  a:hover {
    color: $red;
  }
}

.blog__content {
  h1 {
    @extend %h1;
  }
  h2 {
    @extend %h2;
  }
  h3 {
    @extend %h3;
  }
  h4 {
    @extend %h4;
  }
  h5 {
    @extend %h5;
  }
  h6 {
    @extend %h6;
  }
  a {
    @extend %a;
  }
  p {
    @extend %p;
  }
  ul {
    @extend %ul;
  }
  ol {
    @extend %ol;
  }
  blockquote {
    @extend %blockquote;
  }
}

.blog__nav {
  @extend %clear;
  margin-bottom: 1rem;
  @include min($large) {
    margin-bottom: 0;
  }
}

.blog__prev,
.blog__next {
  margin-bottom: 1rem;
  @include min($medium) {
    max-width: calc(50% - 1rem);
  }
  @include min($large) {
    margin-bottom: 0;
  }
  a {
    @extend .button;
    width: 100%;
  }
}

.blog__prev {
  @include min($medium) {
    float: left;
  }
}

.blog__next {
  @include min($medium) {
    float: right;
  }
}
