.button {
  display: inline-block;
  background: $blue-bright;
  color: $white;
  padding: 1rem 2rem;
  min-width: 16rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-clip: padding-box;
  border: 0;
  &:hover {
    background: $red-light;
    background-clip: padding-box;
  }
}

.button--dashed {
  border: 0.1875rem dashed $red-light;
}

.button--rounded {
  border-radius: 0.5rem;
}

.button--orange {
  background: $orange;
}
