.carousel {
  border-bottom: 0.5rem solid $gray;
  .flickity-prev-next-button {
    background: rgba($blue, 0.5);
    border-radius: 0.5rem;
    border: 0.0625rem solid $white;
    transition: opacity $transition;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:focus {
      box-shadow: none;
    }
    .arrow {
      fill: $white;
    }
  }
}

.carousel__item {
  position: relative;
  display: block;
  width: 18.75rem;
}

.carousel__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $white;
  overflow: hidden;
  opacity: 0;
  transition: opacity $transition;
  .carousel__item:hover & {
    opacity: 1;
  }
}

.carousel__overlay__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 13.75rem;
  background: rgba($blue, 0.75);
  text-align: center;
  padding: 6rem 1rem 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.carousel__overlay__bottom {
  position: absolute;
  left: 0;
  top: 13.75rem;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background: rgba($red-light, 0.75);
}

.carousel__overlay__text {
  display: block;
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
