.cta {
  padding: 0 1rem;
  margin: 3rem 0;
  text-align: center;
}

.cta__container {
  position: relative;
  &::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 0.0625rem);
    height: 0.125rem;
    background: $gray;
    z-index: -1;
    content: '';
  }
}

.cta__button {
  @extend .button;
  @extend .button--rounded;
}
