.filter {
  border-top: 0.125rem solid $gray;
  padding: 2rem 1rem;
  text-align: center;
}

.filter__select {
  position: relative;
  display: inline-block;
  margin: 1rem;

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0;
    z-index: 1;
  }
}

.filter__select__arrow {
  position: absolute;
  right: 2rem;
  top: 50%;
  width: 2rem;
  transform: translateY(-50%);
  fill: $gray-dark;
}

.filter__select__text {
  @extend .button;
  background: $gray;
  color: $red;
  padding-right: 4.5rem;
}

.filter__submit {
  margin: 1rem;
}
