.footer {
  color: $white;
  border-top: 0.5rem solid $blue-medium;
}

.footer__top {
  @extend %clear;
  padding: 2rem 1rem;
  background: $blue;
}

.footer__top__wrap {
  margin: 0 -1rem;
}

.footer__lessons {
  display: none;
  @include min($large) {
    display: block;
    width: 50%;
    float: left;
    padding: 0 1rem;
  }
}

.footer__section {
  padding: 0 1rem;
  @include min($medium) {
    width: 50%;
    float: left;
  }
  @include min($large) {
    width: 25%;
  }
}

.footer__heading {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 0.0625rem solid $blue-medium;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer__nav {
  list-style: none;
  margin-bottom: 2rem;
  li {
    @extend .footer__nav__item;
  }
  a {
    @extend .footer__nav__link;
  }
}

.footer__nav__item {
  margin-top: 0.5rem;
}

.footer__nav__item--half {
  @include min($large) {
    width: 50%;
    float: left;
  }
  &:nth-child(2n+1) {
    @include min($large) {
      clear: both;
    }
  }
}

.footer__nav__link {
  color: $blue-light;
  &:hover {
    color: $white;
  }
}

.footer__contact {
  position: relative;
  margin-bottom: 2rem;
}

.footer__contact__title {
  padding-left: 1.5rem;
}

.footer__contact__item {
  position: relative;
  display: block;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  color: $blue-light;
  &:hover {
    color: $white;
  }
}

.footer__contact__icon {
  position: absolute;
  left: 0;
  width: 1.125rem;
  fill: currentColor;
  margin-top: 0.1875rem;
}

.footer__social {
  list-style: none;
  padding-top: 0.25rem;
}

.footer__social__item {
  display: inline-block;
  width: 2rem;
  margin-right: 0.25rem;
}

.footer__social__link {
  display: block;
  background: $blue-medium;
  fill: $white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  &:hover {
    background: $blue-light;
  }
}

.footer__bottom {
  padding: 2rem 1rem 4.5rem 1rem;
  background: $blue-dark;
  color: $blue-light;
  @include min($medium) {
    padding-bottom: 2rem;
  }
}

.footer__bottom__wrap {
  position: relative;
}

.footer__copyright {

}

.footer__button {
  position: absolute;
  right: 1rem;
  bottom: -4.5rem;
  display: inline-block;
  background: $blue-medium;
  padding: 0.5rem 3.5rem 0.5rem 0.5rem;
  color: $white;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  width: 14rem;
  text-align: center;
  z-index: 2;
  @include min($medium) {
    position: fixed;
    bottom: 0;
  }
  &:hover {
    background: $blue-light;
  }
  &::before {
    position:  absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    background: $red-light;
    content: '';
  }
}

.footer__button--call {
  @include min($medium) {
    display: none;
  }
}

.footer__button--email {
  display: none;
  @include min($medium) {
    display: block;
  }
}

.footer__button__text {

}

.footer__button__image {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 1.5rem;
  fill: $white;
  transform: translate(50%, -50%);
}
