.gallery {
  margin-bottom: 2rem;
}

.gallery__full {
  position: relative;
  padding-bottom: 75%;
  > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.gallery__nav {
  @extend %clear;
  list-style: none;
  margin: 0 -0.5rem;
}

.gallery__nav__item {
  float: left;
  width: 33.333%;
  padding: 1rem 0.5rem 0 0.5rem;
  @include min($small) {
    width: 25%;
  }
  @include min($medium) {
    width: 33.333%;
  }
  @include min($large) {
    width: 25%;
  }
  @include min($full) {
    width: 20%;
  }
}

.gallery__nav__link {
  position: relative;
  display: block;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.gallery__nav__link--active {
  opacity: 1;
}

.gallery__nav__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
}
