.header {
  @extend %clear;
  background: $gray-light;
  padding: 1rem;
  border-bottom: 0.0625rem solid $gray;
}

.header__logo {
  float: left;
  fill: $red;
}

.header__logo__image {
  display: block;
  width: 8rem;
  @include min($large) {
    width: 10rem;
  }
}

.header__logo__text {
  @extend %hide;
}

.header__nav-toggle {
  float: right;
  border: 0.0625rem solid $gray;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 1.375rem;
  &:hover {
    background: $white;
  }
  @include min($large) {
    display: none;
  }
}

.header__nav-toggle__image {
  display: block;
  width: 1.5rem;
}

.header__nav-toggle__text {
  @extend %hide;
}

.header__nav {
  @extend %hide;
  clear: both;
  list-style: none;
  padding-top: 1rem;
  @include min($medium) {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 6% 0 6%;
    height: 3.5rem;
  }
  @include min($large) {
    @include show;
    clear: none;
    float: left;
    padding: 0 6%;
    width: calc(100% - 22rem);
    height: 5.375rem;
  }
  li {
    @extend .header__nav__item;
  }
  a {
    @extend .header__nav__link;
  }
  .current_page_item > a,
  .current_page_parent > a,
  .current_page_ancestor > a {
    @extend .header__nav__link--active;
  }
  .sub-menu {
    display: none;
    background: $gray;
    list-style: none;
    @include min($medium) {
      display: block;
      position: absolute;
      left: -999rem;
      width: 15rem;
      margin-left: -1rem;
      padding: 1rem;
      z-index: 2;
    }
    li {
      display: block;
    }
    a {
      display: block;
      @include min($medium) {
        text-align: left;
      }
      @include min($large) {
        height: auto;
        padding: 0.5rem;
      }
    }
  }
}

.sub-menu-active {
  > a {
    color: $red-light !important;
  }
  .sub-menu {
    display: block;
    @include min($medium) {
      left: auto;
    }
  }
}

.header__nav--active {
  @extend %show;
}

.header__nav__item {
  @include min($medium) {
    display: inline-block;
  }
}

.header__nav__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $gray-dark;
  padding: 0.5rem;
  position: relative;
  @include min($large) {
    height: 6.4375rem;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
  }
  &:hover {
    color: $black;
  }
}

.header__nav__link--active {
  &::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 4rem;
    height: 0.25rem;
    background: $red-light;
    transform: translateX(-50%);
    content: '';
  }
}

.header__call {
  @extend %hide;
  display: block;
  width: 12rem;
  margin: 1rem auto 0 auto;
  border: 0.0625rem solid $orange;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 3.5rem;
  text-align: center;
  overflow: hidden;
  @include min($large) {
    @include show;
    position: relative;
    margin: 1.875rem 0 0 0;
    float: right;
  }
  &:hover {
    background: $white;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 100%;
    background: $orange;
    content: '';
  }
  .header__nav--active + & {
    @extend %show;
    position: relative;
  }
}

.header__call__image {
  display: block;
  width: 1.5rem;
  fill: $white;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__call__text {

}
