.instruments {
  @extend .section;
  text-align: center;
  background: $gray;
}

.instruments__down {
  width: 3rem;
  fill: $gray-dark;
  opacity: 0.15;
  margin: -1rem auto 1rem auto;
}

.instruments__list {
  @extend %clear;
  list-style: none;
  border-left: 0.125rem solid $white;
  border-top: 0.125rem solid $white;
}

.instruments__item {
  border-right: 0.125rem solid $white;
  border-bottom: 0.125rem solid $white;
  @include min($small) {
    float: left;
    width: 50%;
  }
  @include min($medium) {
    width: 33.333%;
  }
  @include min($large) {
    width: 25%;
  }
  @include min($full) {
    width: 20%;
  }
  &:nth-child(n+9) {
    display: none;
    @include min($medium) {
      display: block;
    }
    .instruments--active & {
      display: block;
    }
  }
}

.instruments__link {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
  opacity: 0.25;
  padding: 1.5rem 1rem;
  &:hover {
    background: $gray-medium;
    opacity: 1;
  }
}

.instruments__more {
  @extend .button;
  margin-top: 2rem;
  @include min($medium) {
    display: none;
  }
  .instruments--active & {
    display: none;
  }
}
