.media {
  @extend .section;
  border-top: 0.0625rem solid $gray;
}

.media__container {
  @extend %clear;
  margin: 0 -2rem;
}

.media__item {
  padding: 0 2rem;
  @include min($medium) {
    float: left;
    width: 50%;
  }
  &:nth-child(odd) {
    clear: both;
  }
}

.media__heading {
  @extend .section__subheading;
  margin-bottom: 1rem;
  text-transform: none;
}
