.reviews {
  @extend .section;
  text-align: center;
  color: $gray-dark;
  .flickity-prev-next-button {
    top: 2.75rem;
    opacity: 0.25;
    background: none;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      opacity: 1;
    }
    &.previous {
      left: 50%;
      transform: translateX(-9rem);
    }
    &.next {
      right: 50%;
      transform: translateX(9rem);
    }
    .arrow {
      fill: $gray-dark;
    }
  }
}

.reviews__list {
  list-style: none;
  margin-bottom: 2rem;
}

.reviews__item {
  width: 100%;
  padding: 0 1rem;
}

.reviews__photo {
  margin: 0 auto 1.5rem auto;
  border-radius: 50%;
  border: 0.25rem solid $gray;
}

.reviews__heading {
  @extend .section__subheading;
  margin-bottom: 1.5rem;
}

.reviews__text {
  p {
    &::before {
      content: '\201c';
    }
    &::after {
      content: '\201d';
    }
  }
}

.reviews__external {
  @extend %clear;
  position: relative;
  border-top: 0.125rem solid $gray;
  padding: 1rem 0 0 0;
}

.reviews__score {
  margin-top: 1rem;
  font-size: 0;
  @include min($medium) {
    float: left;
    width: 50%;
    padding: 0 1rem;
  }
}

.reviews__score__item {
  display: block;
  max-width: 14rem;
  margin: auto;
}

.reviews__score__item--google {
  @include min($medium) {
    margin-top: 2.25rem;
  }
}

.reviews__score__detail {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
}
