.section {
  padding: 3rem 1rem;
}

.section__heading {
  @extend %h2;
  margin-bottom: 2rem;
  .banner & {
    color: inherit;
  }
}

.section__subheading {
  @extend %h5;
  .banner & {
    color: inherit;
  }
}
