.sign-up {
  @extend .section;
  background: $gray-light;
  text-align: center;
}

.sign-up__heading {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;

  @include min($medium) {
    margin-bottom: 4rem;
  }
}

.sign-up__arrow {
  display: none;
  fill: $red-light;
  position: absolute;
  right: calc(100% + 1rem);
  top: 1.625rem;
  width: 3rem;

  @include min($medium) {
    display: block;
  }
}

.sign-up__form {
  @extend %clear;
}

.sign-up__input,
.sign-up__textarea {
  border: 0.125rem solid $orange;
  background: transparent;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.sign-up__left,
.sign-up__right {
  @include min($medium) {
    width: calc(50% - 0.25rem);
  }
}

.sign-up__left {
  @include min($medium) {
    float: left;
  }
}

.sign-up__right {
  @include min($medium) {
    float: right;
  }
  + * {
    clear: both;
  }
}

.sign-up__button {
  @extend .button;
  @extend .button--rounded;
  @extend .button--orange;
  margin-top: 1.5rem;
}
