.splash {
  padding: 0 1rem;
  background-size: cover;
  background-position: 33% center;
  margin-bottom: 2rem;
  @include min($medium) {
    margin: 0;
  }
}

.splash--dark-overlay {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.5);
    content: '';
  }
}

.splash__content {
  @extend %clear;
  position: relative;
  padding: 1rem 30% 3rem 0;
  @include min($small) {
    padding: 2rem 40% 4rem 0;
  }
  @include min($medium) {
    padding: 2rem 45% 2rem 0;
  }
  @include min($large) {
    padding: 3rem 45% 3rem 0;
  }
  @include min($full) {
    padding: 4rem 50% 4rem 0;
  }
  .splash--large & {
    padding: 5rem 30% 7rem 0;
    @include min($small) {
      padding: 8rem 40% 10rem 0;
    }
    @include min($medium) {
      padding: 8rem 45% 8rem 0;
    }
    @include min($large) {
      padding: 12rem 45% 12rem 0;
    }
    @include min($full) {
      padding: 16rem 50% 16rem 0;
    }
  }

  .splash--dark-overlay & {
    padding-right: 0;
    text-align: center;
  }
}

.splash__heading {
  text-transform: uppercase;
  font-size: 150%;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  //text-shadow: 0.0625rem 0.0625rem $white, 0.0625rem -0.0625rem $white, -0.0625rem 0.0625rem $white, -0.0625rem -0.0625rem $white;
  font-weight: normal;
  @include min($large) {
    font-size: 300%;
  }
  em {
    font-style: normal;
    color: $red;
  }
  .splash--dark-overlay & {
    color: $white;
    //text-shadow: none;
  }
}

.splash__subheading {
  color: $red;
  //text-shadow: 0.0625rem 0.0625rem $white, 0.0625rem -0.0625rem $white, -0.0625rem 0.0625rem $white, -0.0625rem -0.0625rem $white;
  font-size: 90%;
  font-weight: normal;
  @include min($large) {
    font-size: 125%;
  }
  .splash--dark-overlay & {
    color: $white;
    //text-shadow: none;
  }
}

.splash__button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  @include min($medium) {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin-top: 1.5rem;
    display: inline-block;
  }

  .button {
    .splash--dark-overlay & {
      border: 0;
    }
  }
}

.splash__arrow {
  display: none;
  position: absolute;
  top: -1rem;
  left: calc(100% + 1rem);
  width: 4.5rem;
  @include min($medium) {
    display: block;
  }

  .splash--dark-overlay & {
    display: none;
  }
}
