.steps {
  @extend %clear;
  @extend .section;
  text-align: center;
}

.steps__item {
  position: relative;
  margin-top: 2rem;
  padding: 0 1rem;
  @include min($medium) {
    float: left;
    width: 33.333%;
  }
  @include min($large) {
    padding: 0 2rem;
  }
}

.steps__arrow {
  display: none;
  position: absolute;
  top: 1rem;
  left: 75%;
  width: 50%;
  fill: $gray;
  @include min($medium) {
    display: block;
  }
  .steps__item:nth-child(3n) & {
    display: none;
  }
}

.steps__icon {
  width: 5rem;
  height: 5rem;
  border: 0.125rem solid $gray;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  padding: 1.25rem;
}

.steps__heading {
  @extend %h5;
  margin-bottom: 0.5rem;
}

.steps__description {
  color: $gray-dark;
  a {
    &:hover {
      color: $black;
    }
  }
}
