.teacher {
  @extend %clear;
  @extend .section;
  border-top: 0.125rem solid $gray;
}

.teacher__top {
  @extend %clear;
  margin-bottom: 2rem;
}

.teacher__image {
  padding: 0.5rem;
  background: $gray;
  margin: 0 auto 1rem auto;
  box-sizing: content-box;
  @include min($medium) {
    float: left;
    margin: 0 2rem 0 0;
  }
}

.teacher__heading {
  @extend .section__heading;
  text-align: center;
  @include min($medium) {
    text-align: left;
  }
}

.teacher__testimonials {
  padding-bottom: 2rem;
  overflow: hidden;
  .flickity-page-dots {
    bottom: 0;
  }
  .dot {
    background: $gray;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    opacity: 1;
    transition: background $transition;
    &:hover {
      background: $gray-dark;
    }
    &.is-selected {
      background: $orange;
    }
  }
}

.teacher__testimonials__item {
  width: 100%;
  margin: 0 1rem;
}

.teacher__testimonials__icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3rem;
  fill: $gray;
}

.teacher__testimonials__text {
  color: $gray-dark;
  font-family: $serif;
  font-style: italic;
  font-size: 125%;
  &::before {
    content: '\201c';
  }
  &::after {
    content: '\201d';
  }
}

.teacher__testimonials__source {
  @extend %h6;
  &::before {
    content: '-';
  }
}

.teacher__bio {
  @extend %clear;
  border-top: 0.0625rem solid $gray;
  padding: 2rem 0 0 0;
  margin-bottom: 2rem;
  p {
    @extend %p;
  }
}

.teacher__bio__more {
  float: right;
  font-weight: bold;
  text-decoration: underline;
  color: $blue;
  &:hover {
    color: $red;
  }
}

.teacher__info {
  @extend %clear;
  border-top: 0.0625rem solid $gray;
  text-align: center;
}

.teacher__info__item {
  margin: 2rem 0;
  padding: 0 1rem;
  @include min($small) {
    float: left;
    width: 50%;
  }
  @include min($medium) {
    width: 25%;
  }
}

.teacher__info__icon {
  width: 1.25rem;
  margin: 0 auto 1rem auto;
}

.teacher__info__heading {
  @extend %h6;
  margin-bottom: 1rem;
}

.teacher__info__text {
  color: $gray-dark;
}

.teacher__sidebar {
  background: $gray-light;
  border: 0.125rem solid $gray;
  padding: 2rem;

  + .teacher__sidebar {
    margin-top: 3rem;
  }
}

.teacher__sidebar__item {
  margin-bottom: 2rem;
}

.teacher__sidebar__heading {
  @extend %h6;
  border-bottom: 0.0625rem solid $gray;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.teacher__sidebar__text {
  color: $gray-dark;
}

.teacher__excerpt {
  overflow: hidden;
}

.teacher__more {
  margin-top: 2rem;
  text-align: center;

  @include min($large) {
    margin-top: 0;
    text-align: right;
  }
}
