.why {
  @extend .section;
}

.why__container {
  @extend %clear;
  margin: 0 -1rem;
}

.why__image,
.why__content {
  padding: 0 1rem;
  @include min($large) {
    float: left;
    width: 50%;
  }
}

.why__image {
  display: none;
  @include min($large) {
    display: block;
  }
}

.why__heading {
  text-align: center;
}
